################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lunar-ghost/copilot-chat/c3bfdc65/sessions
/.vs
